.post-heading {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: $spacing-big;

    &__image {
        flex: 0 0 35%;
    }
    &__title {
        flex: 0 0 60%;
        font-size: 5rem;
        line-height: 7rem;
    }
}